<% provide :title do %><%= t('conversations.index.title') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: conversations_path %>
<% end %>

<main>
  <div class="row">
    <div id="debates" class="debates-list small-12 medium-9 column">
      <% if has_banners? %>
        <%= render "shared/banner" %>
      <% end %>

      <div class="show-for-small-only">
        <%= link_to t("conversations.index.start_conversation"), new_conversation_path, class: 'button expanded' %>
      </div>

      <%= render @conversations %>
      <%= paginate @conversations %>
    </div>

    <div class="small-12 medium-3 column">
      <aside class="margin-bottom">
        <%= link_to t("conversations.index.start_conversation"), new_conversation_path, class: 'button expanded' %>
      </aside>
    </div>
  </div>
</main>
